In [1]:
import pandas as pd
from translate import Translator
import time


# CSV dosyasını oku
df = pd.read_csv('rag_instruct_benchmark_tester.csv')
df.head()

,query,answer,context,sample_number,tokens,category
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core

In [2]:
from translate import Translator
import pandas as pd

def translate_to_turkish(text):
    translator = Translator(to_lang="tr", service_urls=['translate.google.com'])
    translation = translator.translate(text)
    return translation
df
# Apply the translation function to the specified columns in the DataFrame
df['query_tr'] = df['query'].apply(translate_to_turkish)
df['answer_tr'] = df['answer'].apply(translate_to_turkish)
df['context_tr'] = df['context'].apply(translate_to_turkish)


# Save the translated DataFrame to a new CSV file
df.to_csv('rag_instruct_benchmark_tester_tr_all.csv', index=False)

# Display the first few rows of the translated DataFrame
df.head()

,query,answer,context,sample_number,tokens,category,query_tr,answer_tr,context_tr
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core,Faturanın toplam tutarı.,"22.500,00 $",QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core,Fatura numarası nedir?,0001,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core,Satın alınan ürünlerin listesi nedir?,•Ön Uç Mühendislik Hizmeti;\n•Arka Uç Mühendis...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core,Soru için irtibat kişisinin adı nedir?,Bia Hermes,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core,Numara nedir?,1000,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...

In [3]:
df.head(15)

,query,answer,context,sample_number,tokens,category,query_tr,answer_tr,context_tr
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core,Faturanın toplam tutarı.,"22.500,00 $",QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core,Fatura numarası nedir?,0001,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core,Satın alınan ürünlerin listesi nedir?,•Ön Uç Mühendislik Hizmeti;\n•Arka Uç Mühendis...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core,Soru için irtibat kişisinin adı nedir?,Bia Hermes,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core,Numara nedir?,1000,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
5,When is payment due?,within 30 days of 01/01/2022,Services Vendor Inc. \n100 Elm Street Pleasant...,5,138,core,Ödeme ne zaman yapılacak?,01/01/2022 tarihinden itibaren 30 gün içinde,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
6,When is payment due?,"May 3, 2022","Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",6,139,core,Ödeme ne zaman yapılacak?,3 Mayıs 2022,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
7,What is the subtotal amount?,4150.00,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",7,139,core,Ara toplam tutarı nedir?,4150,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
8,What is the total amount?,4565.00,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",8,139,core,Toplam miktar nedir?,4565,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
9,What is a list of the purchased items?,•30 Boxes of Printer Paper;\n•10 Printer Cartr...,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",9,139,core,Satın alınan ürünlerin listesi nedir?,•30 Kutu Yazıcı Kağıdı;\n•10 Yazıcı Kartuşu;\n...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
10,What is the invoice number?,234,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",10,139,core,Fatura numarası nedir?,234,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
11,What is the name of the two companies?,ABC Company and Delta Inc.,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",11,139,core,İki şirketin adı nedir?,ABC Company ve Delta Inc.,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
12,How many boxes of paper are being purchased?,30,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",12,139,core,Kaç kutu kağıt satın alınıyor?,30,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
13,What are the payment terms?,Due on Receipt,"Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",13,139,core,Ödeme koşulları nelerdir?,Makbuz nedeniyle,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
14,What is the address of ABC Company?,"8675 River Run Road, Marlington, CT 09392","Invoice DATE March 3, 2022\tINVOICE NO 234\tAB...",14,139,core,ABC Şirketinin adresi nedir?,"8675 River Run Road, Marlington, CT 09392",MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...

In [5]:
df['context_tr'].head()

0    QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
1    QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
2    QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
3    QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
4    QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
Name: context_tr, dtype: object

In [8]:
def translate_long_text(text):
    max_chars = 500
    chunks = [text[i:i+max_chars] for i in range(0, len(text), max_chars)]
    
    translated_chunks = []
    for chunk in chunks:
        translator = Translator(to_lang="tr", service_urls=['translate.google.com'])
        translation = translator.translate(chunk)
        translated_chunks.append(translation)
    
    return ''.join(translated_chunks)

df['context_tr'] = df['context'].apply(translate_long_text)

# Save the translated DataFrame to a new CSV file
df.to_csv('rag_instruct_benchmark_tester_tr_all_2.csv', index=False)

In [9]:
df.head()

,query,answer,context,sample_number,tokens,category,query_tr,answer_tr,context_tr
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core,Faturanın toplam tutarı.,"22.500,00 $",MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core,Fatura numarası nedir?,0001,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core,Satın alınan ürünlerin listesi nedir?,•Ön Uç Mühendislik Hizmeti;\n•Arka Uç Mühendis...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core,Soru için irtibat kişisinin adı nedir?,Bia Hermes,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core,Numara nedir?,1000,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...