In [1]:
import json
import csv
import pandas as pd

def jsonl_to_csv(jsonl_file, csv_file):
    with open(jsonl_file, 'r', encoding='utf-8') as json_file, open(csv_file, 'w', newline='', encoding='utf-8') as csv_file:
        csv_writer = csv.writer(csv_file)

        # Read each line from the JSONL file
        for line in json_file:
            # Load JSON from the line
            data = json.loads(line)
            
            # Assuming the first line contains the keys for the CSV header
            if 'header' not in locals():
                header = data.keys()
                csv_writer.writerow(header)

            # Write the data to the CSV file
            csv_writer.writerow(data.values())

# Specify the paths for your JSONL and CSV files
jsonl_file_path = 'rag_instruct_benchmark_tester.jsonl'
csv_file_path = 'rag_instruct_benchmark_tester.csv'

# Convert JSONL to CSV
jsonl_to_csv(jsonl_file_path, csv_file_path)

print(f"Conversion complete. CSV file saved at: {csv_file_path}")


df = pd.read_csv("rag_instruct_benchmark_tester.csv")
df.head()

Conversion complete. CSV file saved at: rag_instruct_benchmark_tester.csv

,query,answer,context,sample_number,tokens,category
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core

In [3]:
!pip install googletrans
#!pip install matplotlib
!pip install beautifulsoup4
!pip install requests
!pip install translate

Requirement already satisfied: googletrans in c:\users\elift\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: httpx==0.13.3 in c:\users\elift\anaconda3\lib\site-packages (from googletrans) (0.13.3)
Requirement already satisfied: certifi in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2023.7.22)
Requirement already satisfied: hstspreload in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2023.1.1)
Requirement already satisfied: sniffio in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (1.2.0)
Requirement already satisfied: chardet==3.* in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: idna==2.* in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in c:\users\elift\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\elift\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\elift\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\elift\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\elift\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)
Requirement already satisfied: beautifulsoup4 in c:\users\elift\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\elift\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: requests in c:\users\elift\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\elift\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\elift\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\elift\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\elift\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [5]:
new_df = df.head(5).copy()

# translate.google.com

In [6]:
from googletrans import Translator
import pandas as pd

from translate import Translator

def translate_to_turkish(text):
    translator = Translator(to_lang="tr", service_urls=['translate.google.com'])
    translation = translator.translate(text)
    return translation

new_df['query1'] = new_df['query'].apply(translate_to_turkish)
new_df['answer1'] = new_df['answer'].apply(translate_to_turkish)
new_df['context1'] = new_df['context'].apply(translate_to_turkish)

new_df.to_csv('new_df.csv', index=False)

new_df.head()

,query,answer,context,sample_number,tokens,category,query1,answer1,context1
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...

In [8]:
from translate import Translator
import pandas as pd

def translate_to_turkish(text):
    translator = Translator(to_lang="tr", service_urls=['translate.google.com'])
    translation = translator.translate(text)
    return translation

# Apply the translation function to the specified columns in the DataFrame
new_df['query1'] = new_df['query'].apply(translate_to_turkish)
new_df['answer1'] = new_df['answer'].apply(translate_to_turkish)
new_df['context1'] = new_df['context'].apply(translate_to_turkish)

# lowercase
# new_df['query1'] = new_df['query'].apply(lambda x: translate_to_turkish(x.lower()))  # Translate and convert to lowercase
# new_df['answer1'] = new_df['answer'].apply(lambda x: translate_to_turkish(x.lower()))
# new_df['context1'] = new_df['context'].apply(lambda x: translate_to_turkish(x.lower()))


# Save the translated DataFrame to a new CSV file
new_df.to_csv('new_df.csv', index=False)

# Display the first few rows of the translated DataFrame
new_df.head()

,query,answer,context,sample_number,tokens,category,query1,answer1,context1
0,What is the total amount of the invoice?,"$22,500.00",Services Vendor Inc. \n100 Elm Street Pleasant...,0,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
1,What is the invoice number?,#0001,Services Vendor Inc. \n100 Elm Street Pleasant...,1,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
2,What is a list of the items being purchased?,•Front End Engineering Service;\n•Back End Eng...,Services Vendor Inc. \n100 Elm Street Pleasant...,2,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
3,What is the name of the contact for question?,Bia Hermes,Services Vendor Inc. \n100 Elm Street Pleasant...,3,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...
4,What is the PO number?,#1000,Services Vendor Inc. \n100 Elm Street Pleasant...,4,138,core,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE ...,QUERY LENGTH LIMIT EXCEEDED. MAX ALLOWED QUERY...

# pipeline translator

# https://huggingface.co/Helsinki-NLP/opus-mt-tr-en?text=merhaba

In [16]:
from translate import Translator

translator = Translator(to_lang="no")
translation = translator.translate("Good Morning! How are you? I am going for a walk. Do you want to join me?")
print(translation)

MYMEMORY WARNING: YOU USED ALL AVAILABLE FREE TRANSLATIONS FOR TODAY. NEXT AVAILABLE IN  14 HOURS 32 MINUTES 53 SECONDS VISIT HTTPS://MYMEMORY.TRANSLATED.NET/DOC/USAGELIMITS.PHP TO TRANSLATE MORE

In [18]:
from transformers import pipeline

translator=pipeline("translation_en_to_de")
text="ı hope you will be great"
outputs=translator(text,clean_up_tokenization_spaces=True)
print(outputs[0]["translation_text"])

No model was supplied, defaulted to t5-base and revision 686f1db (https://huggingface.co/t5-base).
Using a pipeline without specifying a model name and revision in production is not recommended.

Downloading config.json:   0%|          | 0.00/1.21k [00:00<?, ?B/s]

C:\Users\elift\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:133: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\elift\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading model.safetensors:   0%|          | 0.00/892M [00:00<?, ?B/s]

Downloading generation_config.json:   0%|          | 0.00/147 [00:00<?, ?B/s]

Downloading spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

Downloading tokenizer.json:   0%|          | 0.00/1.39M [00:00<?, ?B/s]

C:\Users\elift\anaconda3\Lib\site-packages\transformers\models\t5\tokenization_t5_fast.py:155: FutureWarning: This tokenizer was incorrectly instantiated with a model max length of 512 which will be corrected in Transformers v5.
For now, this behavior is kept to avoid breaking backwards compatibility when padding/encoding with `truncation is True`.
- Be aware that you SHOULD NOT rely on t5-base automatically truncating your input to 512 when padding/encoding.
- If you want to encode/pad to sequences longer than 512 you can either instantiate this tokenizer with `model_max_length` or pass `max_length` when encoding/padding.
- To avoid this warning, please instantiate this tokenizer with `model_max_length` set to your preferred value.
  warnings.warn(

 Ich hoffe, Sie werden groß sein

# kaggle

In [ ]:
from translate import Translator
import pandas as pd

import os
file_path = "/kaggle/input/rag-instruct-benchmark-teste/rag_instruct_benchmark_tester.csv"
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
else:
    print(f"File not found: {file_path}")

df=df.head(5).copy()
# df.to_csv('new_file.csv', index=False)

# İlk birkaç satırı göster
df.head()

In [ ]:
from translate import Translator
import pandas as pd

def translate_to_turkish(text):
    translator = Translator(to_lang="tr", service_urls=['translate.google.com'])
    translation = translator.translate(text)
    return translation

def apply_translation_pipeline(df, columns):
    translated_df = pd.DataFrame()
    
    for column in columns:
        translated_column = df[column].apply(translate_to_turkish)
        translated_df[column + '_tr'] = translated_column
    
    return translated_df

# CSV dosyasını oku
df = pd.read_csv('/kaggle/input/rag-instruct-benchmark-teste/rag_instruct_benchmark_tester.csv')

# Çeviri yapılacak sütunları belirle
translation_columns = ['query', 'answer', 'category']

# Çeviri pipeline'ını uygula
translated_df = apply_translation_pipeline(df, translation_columns)

# Çevrilen DataFrame'i başka bir CSV dosyasına kaydet
translated_df.to_csv('translated_file.csv', index=False)

# İlk birkaç satırı göster
translated_df.head()